<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2009 University of Washington Licensed under the Apache
        License, Version 2.0 (the "License"); you may not use this file except in
        compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
        Unless required by applicable law or agreed to in writing, software distributed
        under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
        OR CONDITIONS OF ANY KIND, either express or implied. See the License for
        the specific language governing permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="co.gargoyle.supercab.android"
  android:versionCode="1"
  android:versionName="1.0" >

  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <!-- App receives GCM messages. -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <!-- GCM requires a Google account. -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <!-- Keeps the processor from sleeping when a message is received. -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <permission android:name="co.gargoyle.supercab.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="co.gargoyle.supercab.android.permission.C2D_MESSAGE" />

  <supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true" />


  <application
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    >

    <service android:name=".GCMIntentService" />
    
    <service android:name=".services.BackgroundDownloadService" >
      <intent-filter>
        <action android:name="co.gargoyle.supercab.intent.action.uploadData"></action>
      </intent-filter>
    </service>

    <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <category android:name="co.gargoyle.supercab.android" />
      </intent-filter>
    </receiver>

    <activity
      android:name=".activities.LaunchActivity"
      android:configChanges="orientation"
      android:label="@string/app_name" >
    </activity>
    
    <activity
      android:name=".activities.RegisterActivity"
      android:configChanges="orientation"
      android:label="@string/app_name" >
    </activity>
    
    <activity
      android:name=".activities.LoginActivity"
      android:configChanges="orientation"
      android:label="@string/app_name" >
      
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity>
    
    <activity
      android:name=".activities.FareDetailActivity"
      android:configChanges="orientation"
      android:label="@string/app_name" >
    </activity>

    <activity
      android:name=".activities.FareListActivity"
      android:configChanges="orientation"
      android:label="@string/app_name" >
    </activity>

    <activity
      android:name=".activities.ConfirmationActivity"
      android:configChanges="orientation"
      android:label="@string/app_name" >
    </activity>

    <activity
      android:name=".activities.HailActivity"
      android:configChanges="orientation"
      android:label="@string/app_name" >


    </activity>

    <uses-library
      android:name="com.google.android.maps"
      android:required="true" />
  </application>

</manifest>
